<% include partials/header %>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="main.html">PLUNK</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"> <a href="#"> Home</a> </li>
                <li> <a href="#"> About</a> </li>
                <li><a href="#"> Contact</a> </li>
                </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Sign Up</a> </li>
                <li><a href="#">Login</a> </li>
            </ul>
    </div>
        </div>
        </div><!-- /.container-fluid -->
</nav>


<div class="container">
    <!--<div class="jumbotron">-->
        <!--<h1>        <i class="fa fa-spinner" aria-hidden="true"></i>-->
            <!--Groups Gallery</h1>-->
        <!--</h1>-->
        <!--<p>You can see all group in your area, toggle, search and review them! </p>-->
    <!--</div>-->

<div class="row">
    <div class="col-md-12">
        <div class="input-group" id="adv-search">
            <input type="text" class="form-control" placeholder="Search for snippets" />
            <div class="input-group-btn">
                <div class="btn-group" role="group">
                    <div class="dropdown dropdown-lg">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                        <div class="dropdown-menu dropdown-menu-right" role="menu">
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label for="filter">Filter by</label>
                                    <select class="form-control">
                                        <option value="0" selected>Gender</option>
                                        <option value="1">Type</option>
                                        <option value="2">Location</option>
                                        <option value="3">Price</option>

                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="contain">Tags</label>
                                    <input class="form-control" type="text" />
                                </div>
                                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                            </form>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </div>
            </div>
        </div>
    </div>
<p>




</p>









    <div class="col-lg-4 col-sm-6">
        <div class="thumbnail equalize">
           <img src="https://fb-s-d-a.akamaihd.net/h-ak-xfp1/v/t31.0-8/15137662_1287807517938041_5436457653534003820_o.jpg?oh=0335286af3ff15f2151b90f4190f10f6&oe=58AEBDA4&__gda__=1487852079_a0f4016fb7adfafb02ece651aec4273b">
            <div class="caption">
                <h3>She Run</h3>
                <p>
                    קבוצת ריצה לנשים
                </p>
                <p>
                    תל אביב
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                </p>
                <p>
                    <a href="#" class="btn btn-primary" role="button">More Details</a>
                </p>
        </div>
            </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="thumbnail equalize">
            <img src="http://www.wdg.co.il/wp-content/uploads/thumbs/-%D7%94%D7%91%D7%A8%D7%99%D7%90%D7%95%D7%AA-323n3j627mi0hejt34qv4a.jpg">
            <div class="caption">
                <h3>בשביל הבריאות</h3>
                <p>
                    קבוצת ריצה לגברים
                </p>
                <p>
                    תל אביב
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                </p>
                <p>
                    <a href="#" class="btn btn-primary" role="button">More Details</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
            <img src="https://content.nike.com/content/dam/one-nike/en_il/FA16/NRC_UPDATE/1600X700.png.transform/full-screen/1600X700.png">
            <div class="caption">
                <h3>Nike+ Run Club</h3>
                <p>...</p>
                <p>
                    תל אביב
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                </p>
                <p>
                    <a href="#" class="btn btn-primary" role="button">More Details</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
            <img src="http://images1.aystatic.com/articles/1840/215912_home_hero.jpg?1429688914">
            <div class="caption">
                <h3>
                    כדורגל בנות
                </h3>
                <p>...</p>
                <p>
                    תל אביב
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                </p>
                <p>
                    <a href="#" class="btn btn-primary" role="button">More Details</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
            <img src="https://fb-s-b-a.akamaihd.net/h-ak-xft1/v/t1.0-9/14322499_10153710302446114_2795423062410889178_n.jpg?oh=8c92ffa47bf2e9ed1fd54ba62735a7c0&oe=58B5EE11&__gda__=1492770317_b04ed906db6f4504f01e15bc008160ef">
            <div class="caption">
                <h3>Les Run</h3>
                <p>
קבוצת ריצה ללטבי״ות וחברות
                </p>
                <p>
                    תל אביב
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                </p>
                <p>
                    <a href="#" class="btn btn-primary" role="button">More Details</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
            <img src="https://fb-s-b-a.akamaihd.net/h-ak-xta1/v/t1.0-9/13782030_1164134466977367_6004019411599919541_n.jpg?oh=fec537d1b4302ea46469f37a3b29bb66&oe=58B87572&__gda__=1492577432_b1fddf76011f8dc36a0708e5fdc7cc25">
            <div class="caption">
                <h3>Revo Sport</h3>
                <p>
אימונים אישיים בקבוצות קטנות לעיצוב וחיטוב הגוף
                </p>
                <p>
                    תל אביב
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                </p>
                <p>
                    <a href="#" class="btn btn-primary" role="button">More Details</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
            <img src="http://images.one.co.il/images/d/400_221/gg765523.jpg">
            <div class="caption">
                <h3>
                    כדורעף גברים
                </h3>
                <p>
                    מתאמנים בפארק הירקון
                </p>
                <p>
                    תל אביב
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                </p>
                <p>
                    <a href="#" class="btn btn-primary" role="button">More Details</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
            <img src="https://www.thestar.com/content/dam/thestar/news/gta/panamgames/2015/07/14/canada-womens-soccer-team-gears-up-for-pan-am-games-second-group-stage-match/womens-soccerjpg.jpg.size.custom.crop.1086x718.jpg">
            <div class="caption">
                <h3>
                    כדורגל בנות - פרישמן
                </h3>
                <p>
                    אימון כדורגל לנשים בתל אביב
                </p>
                <p>
                    תל אביב
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                </p>
                <p>
                    <a href="#" class="btn btn-primary" role="button">More Details</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
            <img src="https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-9/15356492_1264761520234004_6141083311242292343_n.jpg?oh=3fb874e5b2eb579ae1a7943fd64bf651&oe=58BB3BF9">
            <div class="caption">
                <h3>
                    כדורגל בנות - אס״א תל אביב
                </h3>
                <p>
                    אימון כדורגל לנשים בליגת תל אביב
                </p>
                <p>
                    תל אביב
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                </p>
                <p>
                    <a href="#" class="btn btn-primary" role="button">More Details</a>
                </p>
            </div>
        </div>
    </div>

    </div>
</div>
</div>


<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
<script src='js/bootstrap.js'></script>
<% include partials/footer %>